/* .loginusername {
    color: green;
    font-weight:bolder;
    margin: 1px 10px 1px 1px;
} */


.img {
    display: block;
    height: 43px;
    width: 60px;
    margin-top: -10px!important;
}

.anch-link-mouse {
    cursor: pointer;

}
/* for cart number */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }

  .cart-icon{
    left: 1216px;
    top: 10px;
  }