<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
        <div id="formHeader">
                <img src="/../../assets/images/login-icon-3048.png" id="icon" alt="User Icon" />
        </div>
  
      <!-- Login Form -->
      <form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
        <input type="text" id="Username" class="fadeIn second" name="Username" ngModel placeholder="Username" required autofocus>
        <input type="text" textmode='password' id="password" class="fadeIn third" name="password" ngModel placeholder="Password" required autofocus>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>